
<h1><%= @api_user.name %></h1>
<h3><%= @api_user.email %></h3>
<p>O usuário <%= @user.name %> (<%= @user.email %>) cadastrou você.</p><br>
<p>Chave:</p>
<p><%= @api_user.secret %></p>
<p>Token: </p>
<p><%= @api_user.token %></p>
