<h1>Usuários Registrados</h1>

<table class="table">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Matricula</th>
    </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name%></td>
    <td><%= user.email%></td>
    <td><%= user.cpf %></td>
    <td><%= user.registration %></td>
    <td><%= link_to image_tag("icon_edit") , user_edit_path(user.id), confirm: "Tem certeza?" %></td>
    <td><%= link_to image_tag("icon_trash") , user_destroy_path(user.id), data: {confirm: "Esta ação não poderá mais ser desfeita. Tem certeza que deseja continuar?"}%> </td>
  </tr>
<% end %>
</table>
