<h1>Solicitação de Cadastro</h1>
<%= form_for @user do |f| %>
  <p><b></b><%=  %></p>
  <p><b>Nome: </b><%= f.text_field :name %></p>
  <p><b>Email: </b><%= f.text_field :email %></p>
  <p><b>CPF: </b><%= f.text_field :cpf %></p>
  <p><b>Matricula: </b><%= f.text_field :registration %></p>
  <p><b>Tipo</b><%= f.hidden_field :active, :value => 'false' %></p>
  
<% end %>
