<h1>Salas</h1>
<table class="table">
<tr>
<%= form_tag(room_index_post_path, :method => :post) do %>
  <td><%= text_field_tag 'name', nil, placeholder: 'Digite o nome da sala...', size: '50', class: 'form-control' %></td>
  <td><%= text_field_tag 'code', nil, placeholder: 'Digite o código da sala...', size: '50', class: 'form-control' %></td>
  <td><%= number_field_tag 'capacity', nil, placeholder: 'Digite a quantidade de vagas...', size: '300', class: 'form-control' %></td>
  <td>Ativa <%= check_box_tag 'active', value="1", checked = false%></td>
  <td><%= submit_tag "Submit"%></td>
<% end %>
</tr>
</table>
<!--
  <%= form_for :index, url: room_index_path,  :html => {:role => 'form'} do |f| %>
    <%= f.label :name, "Nome " %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :ala, "Alas" %>
    <%= f.select :ala, ["", "Norte", "Sul", "Central"] %>

    <%= f.label :building, "Prédio" %>
    <%= f.fields_for :building do |ff| %>
      <%= ff.collection_select(:building_id,Building.all,:id,:name,include_blank: true) %>
    <% end %>

    <%= f.label :vagas, "Vagas " %>
    <%= f.number_field :vagas, class: 'form-control', min: 5, max: 500 %>

    <%= f.label :category, "Categorias" %>
    <br>
    <%= f.fields_for :all_categories do |fff| %>
      <%= fff.collection_check_boxes(:category_id,Category.all,:id,:name,include_blank: true) %>
    <% end %>

    <br><br>
    <%= f.label :activity, "Atividade" %>
    <br>
    <%= f.check_box :active %> Ativo
    <%= f.check_box :active %> Inativo

    <%= f.submit "Enviar", class: 'pull-right btn btn-default btn-success' %> -->
  <!-- <%end%> -->


  <% if @rooms.count == 0 %>
    <h3>Não há salas registradas no momento.</h3>
  <% else %>
    <table class="table">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Ativo</th>
        <th>Prédio</th>
        <th style="text-align:center">Alterar</th>
        <th style="text-align:center">Visualizar</th>
      </tr>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.code %></td>
          <td><%= room.name %></td>
          <td><%=  ((room.active) ? 'Sim' : 'Não')  %></td>
          <td><%= room.building.name %></td>
          <td style="text-align:center"><%= link_to image_tag("icon_edit.png"), room_edit_path(room.id) %></td>
          <td style="text-align:center"><%= link_to image_tag("icon_view.png"), room_path(room.id) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
