<h1>Salas</h1>
<table class="table">
  <tr>
  <%= form_tag(room_index_post_path, :method => :post) do %>
    <td>
      <%= label_tag("Nome") %>
      <%= text_field_tag 'name', nil, placeholder: 'Digite o nome da sala...', size: '40', class: 'form-control' %>
    </td>
    <td>
      <%= label_tag("Código") %>
      <%= text_field_tag 'code', nil, placeholder: 'Digite o código da sala...', size: '25', class: 'form-control' %>
    </td>
    <td>
      <%= label_tag("Capacidade") %>
      <%= number_field_tag 'capacity', nil, placeholder: 'Insira a quantidade...', size: '500', class: 'form-control' %>
    </td>
  </tr>

  <tr>
    <td>
      <%= label_tag("Ala") %>
      <% itens = [["NORTE"], ["CENTRAL"], ["SUL"]] %>
      <%= select_tag 'wing', options_for_select(itens, " "), include_blank: true %>
    </td>
    <td>
      <%= label_tag("Prédio") %>
      <%= select_tag 'building_id', options_for_select(@buildings.map{ |building| [building.name, building.id, { 'data-wing' => building.wing }] }), include_blank: true %>
    </td>
    <td>
      <%= label_tag("Departamento") %>
      <% if @user_department == nil%>
        <%= select_tag 'department_id', options_for_select(@department.map{ |department| [department.name, department.id ]}), include_blank: true %>
      <% else %>
        <%= select_tag 'department_id', options_for_select(@department.map{ |department| [department.name, department.id ]}, selected: @user_department.id), include_blank: true %>
      <% end %>
      </td>
  </tr>

  <tr>
    <td>
      <br>
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <span class="fa fa-search"></span> Pesquisar
      <% end %>
    </td>
    <td colspan="2">
      <br>
      <%= link_to room_index_path, class: "btn btn-primary pull-right" do %>
        <span class="fa fa-eraser"></span> Limpar Filtros
      <% end %>
    </td>
  </tr>

<% end %>

</table>

  <p>
    <b>Funcionamento:&nbsp;</b>
    <%= label_tag(:id_all , "Todas") %>
    <%= radio_button_tag(:room_status_filter, "all", true, :id => "id_all") %>
    <%= label_tag(:id_active, "Ativa") %>
    <%= radio_button_tag(:room_status_filter, "active", false, :id => "id_active") %>
    <%= label_tag(:id_inactive, "Inativa") %>
    <%= radio_button_tag(:room_status_filter, "inactive", false, :id => "id_inactive") %>
  </p>

  <% if @rooms.count == 0 %>
    <h3>Nenhuma sala encontrada.</h3>
  <% else %>
    <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Ativo</th>
        <th>Prédio</th>
        <% if permission[:level] != 0 %>
          <th style="text-align:center">Alterar</th>
        <% end %>
        <th style="text-align:center">Visualizar</th>
      </tr>
    </thead>
    <tbody class="show_room">
      <%= will_paginate @rooms %>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.code %></td>
          <td><%= room.name %></td>
          <td id="active_room"><%=  ((room.active) ? 'Sim' : 'Não')  %></td>
          <td><%= room.building.name %></td>
          <% if permission[:level] != 0 %>
            <td style="text-align:center">
              <%= link_to room_edit_path(room.id) do %>
                <i class="fa fa-edit edit-allocation"></i>
              <% end %>
            </td>
          <% end %>
          <td style="text-align:center">

            <%= link_to room_path(room.id) do %>
              <i class="fa fa-eye edit-allocation"></i>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>

<script>
  $("input:radio").on('click', function() {
    $(".show_room").empty();
    var roomStatus = $(this).attr("value");

    if (roomStatus === "active") {
      <% @rooms.each do |room| %>
        if (<%= room.active %>) {
          $(".show_room").append(
            "<tr>"
              + "<td><%=room.code%></td>"
              + "<td><%= room.name %></td>"
              + "<td id='active_room'><%=((room.active) ? 'Sim' : 'Não')  %></td>"
              + "<td><%= room.building.name %></td>"
              + '<td style="text-align:center"><%= link_to image_tag("icon_edit.png"), room_edit_path(room.id) %></td>'
              + '<td style="text-align:center"><%= link_to image_tag("icon_view.png"), room_path(room.id) %></td>'
            + "</tr>"
          );
        }
      <%end%>
    } else if (roomStatus === "inactive") {
       <% @rooms.each do |room| %>
         if (!<%= room.active %>) {
            $(".show_room").append(
              "<tr>"
                + "<td><%=room.code%></td>"
                + "<td><%= room.name %></td>"
                + "<td id='active_room'><%=((room.active) ? 'Sim' : 'Não')  %></td>"
                + "<td><%= room.building.name %></td>"
                + '<td style="text-align:center"><%= link_to image_tag("icon_edit.png"), room_edit_path(room.id) %></td>'
                + '<td style="text-align:center"><%= link_to image_tag("icon_view.png"), room_path(room.id) %></td>'
              + "</tr>"
            );
          }
      <%end%>
    } else {
      // roomStatus === all
      <% @rooms.each do |room| %>
        $(".show_room").append(
          "<tr>"
            + "<td><%=room.code%></td>"
            + "<td><%= room.name %></td>"
            + "<td id='active_room'><%=((room.active) ? 'Sim' : 'Não')  %></td>"
            + "<td><%= room.building.name %></td>"
            + '<td style="text-align:center"><%= link_to image_tag("icon_edit.png"), room_edit_path(room.id) %></td>'
            + '<td style="text-align:center"><%= link_to image_tag("icon_view.png"), room_path(room.id) %></td>'
          + "</tr>"
        );
      <%end%>
    }

  });

  $('select#wing').on('change', function() {
    var selected = $(this).val();
    $('select#building_id').find('option').removeClass('hide');
    $('select#building_id').find('option').not('option[data-wing="' + selected + '"]').addClass('hide');
  });
</script>
