<h1>Sala: <%= @room.name %></h1>
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">Código: <%= @room.code %></li>
      <li class="list-group-item">Capacidade: <%= @room.capacity %></li>
      <li class="list-group-item">Status: <%= ((@room.active) ? 'Ativo' : 'Inativo') %></li>
      <li class="list-group-item">Prédio: <%= @room.building.name %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><h4>Recursos:</h4></li>
      <% @room_categories.each do |room_category| %>
        <li class="list-group-item"><%= room_category.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<table class="table tableViewAllocation table-bordered">
  <thead>
    <tr>
      <% days = %w(Segunda Terça Quarta Quinta Sexta Sábado) %>
      <th>Horários</th>
      <% days.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (6..23).each do |hour| %>
      <tr>
        <th><%= (hour < 10 ? "0#{hour}" : hour) %>:00</th>
        <% days.each do |day| %>
          <td data-day-hour="<%= "#{day}#{hour}" %>"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="hide allocationsDiv">
  <% @allocations.each do |allocation|
    start_time = allocation.start_time.strftime('%H:%M').to_i
    rowspan = allocation.final_time.strftime('%H').to_i - start_time
  %>
    <p class="dataAllocation" data-day="<%= allocation.day %>" data-hour="<%= start_time %>" data-rowspan="<%= rowspan %>">
      <%= allocation.school_room.discipline.name %>
      <a href="#!" class="openModal" data-school-room="<%= allocation.school_room.id %>" data-courses="<% allocation.school_room.courses.each do |course| %><%= (course == allocation.school_room.courses.last ? course.name : "#{course.name}, ") %><% end %>" data-discipline="<%= allocation.school_room.discipline.name %>" data-vacancies="<%= allocation.school_room.vacancies %>" data-department="<%= allocation.school_room.discipline.department.name %>">
        <small>Turma: <%= allocation.school_room.name %></small>
      </a>
      <% unless allocation.school_room.category.empty? %>
        <ul class="list-group listResources" data-day-hour="<%= "#{allocation.day}#{start_time}" %>">
          <li class="list-group-item"><h4>Recursos:</h4></li>
          <% allocation.school_room.category.each do |cat| %>
            <li class="list-group-item"><%= cat.name %></li>
          <% end %>
        </ul>
      <% end %>
    </p>
  <% end %>
</div>

  <!-- <% @allocations_extensions.each do |allocation_extension| %>
  <h2><%= allocation_extension.id %><br></h2>
  <h2><%= allocation_extension.periodicity %><br></h2>
  <h2><%= allocation_extension.start_time.strftime('%H:%M') %><br></h2>
  <h2><%= allocation_extension.final_time.strftime('%H:%M') %><br></h2>
  <h2><%= allocation_extension.inicial_date %><br></h2>
  <h2><%= allocation_extension.final_date %><br></h2>
  <% end %> -->

<!-- Modal School Room -->
<div class="modal fade" id="modalSchollRoom" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="schoolRoomTitle"></h4>
      </div>
      <div class="modal-body">
        <ul class="list-group listSchoolRoom">
          <li class="list-group-item" id="itemCourse"></li>
          <li class="list-group-item" id="itemDiscipline"></li>
          <li class="list-group-item" id="itemDepartment"></li>
          <li class="list-group-item" id="itemVacancies"></li>
        </ul>
        <table class="table table-striped tableModalSchoolRoom">
          <thead>
            <tr>
              <th>Horário</th>
              <th>Dia</th>
              <th>Sala</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('.dataAllocation').each(function() {
      var dataAllocation = $(this);
      var day = dataAllocation.attr("data-day");
      var hour = dataAllocation.attr("data-hour");
      var rowspan = dataAllocation.attr("data-rowspan");
      var tdMatching = $('.tableViewAllocation td[data-day-hour="' + day + hour + '"]');

      if (tdMatching.is(':empty')) {
        dataAllocation.appendTo(tdMatching).find('a').appendTo(tdMatching);
        if (rowspan > 1 ) {
          tdMatching.attr("rowspan", rowspan);
          for (i = 1; i < rowspan; i++) {
            var finalHour = parseInt(hour) + i;
            $('.tableViewAllocation td[data-day-hour="' + day + finalHour + '"]').remove();
          }
        }
      } else {
        (tdMatching).append(' | ');
        dataAllocation.find('a').appendTo(tdMatching);
      }
    });

    $('.openModal').on('click', function() {
      var school_room_id = $(this).attr('data-school-room');
      var hourDay = $(this).parent().attr('data-day-hour');

      $('#schoolRoomTitle').text($(this).find('small').text());
      $('#itemCourse').text('Curso(s): ' + $(this).attr('data-courses'));
      $('#itemDepartment').text('Departamento: ' + $(this).attr('data-department'));
      $('#itemDiscipline').text('Disciplina: ' + $(this).attr('data-discipline'));
      $('#itemVacancies').text('vagas: ' + $(this).attr('data-vacancies'));
      $('#modalSchollRoom .listResources').appendTo('.allocationsDiv');
      $('.allocationsDiv .listResources[data-day-hour="' + hourDay + '"]').insertAfter('.listSchoolRoom');

      $.getJSON(
        '<%= request.base_url %>/rooms/json_of_categories_by_school_room?school_room_id=' + school_room_id,

        function(data) {
          $('.tableModalSchoolRoom tbody').empty();

          $(data).each(function(i, d) {
            var startTime = d[0].split('T');
            var startTime = startTime[1].split(':');
            var hourStart = startTime[0];
            var finalTime = d[1].split('T');
            var finalTime = finalTime[1].split(':');
            var hourFinal = finalTime[0];
            var tr = '<tr><td>' + hourStart + ':00 - ' + hourFinal + ':00</td><td>' + d[2] + '</td><td>' + d[3] + '</td></tr>';

            $(tr).appendTo('.tableModalSchoolRoom tbody');
          });
        }
      );

      $('#modalSchollRoom').modal('show');
    });

    $('.tableViewAllocation tbody td').on('mouseover', function() {
      var td = $(this);
      if (!td.is(':empty')) {
        var discipline = td.find('p').text();
        td.find('small').each(function() {
          var schoolRoom = $(this).text();
          $('.tableViewAllocation tbody td:contains("' + discipline + '")').find('a:contains("' + schoolRoom + '")').parent().addClass('tdHover');
        });
      }
    }).on('mouseleave', function() {
      $('.tableViewAllocation tbody td').removeClass('tdHover');
    });

    // function getRandomColor() {
    //   var nums = '0123456789ABCDEF';
    //   var color = '#';
    //   for (var i = 0; i < 6; i++ ) {
    //       color += nums[Math.floor(Math.random() * 16)];
    //   }
    //   return color;
    // }
  });
</script>
