<h1>Sala: <%= @room.name %></h1>
<h2>Código: <%= @room.code %></h2>
<h2>Capacidade: <%= @room.capacity %></h2>
<h2>Ativo: <%= ((@room.active) ? 'Sim' : 'Não') %></h2>
<h2>Prédio: <%= @room.building.name %></h2>
