<h2>Editar Turma</h2>
<%= form_for(@school_room, url: {action: "update"}) do |school_room| %>

  <label>Disciplina </label>
  <%= school_room.select :discipline_id, Discipline.all.collect {|d| [d.name, d.id]} %>

  <div class="short_input">
    <%= school_room.label :name, "Turma" %>
    <%= school_room.text_field :name, class: 'form-control' %>
  </div>

  <%= school_room.hidden_field :id, value: @school_room.id %>

  <p> Cursos</p>
  <div class="checkbox-group">

    <%= school_room.collection_check_boxes(:course_ids, courses_by_user, :id, :name, include_blank: true)%>
  </div>

  <%= school_room.submit "Alterar", class: 'pull-right btn btn-default btn-success' %>
  <%= link_to "Voltar", school_rooms_show_path(@school_room.id), class: "pull-right btn btn-default"%> <br>

<% end %>
