<%= link_to 'Criar Turma', school_rooms_new_path, class: ' pull-right btn btn-default btn-success btn-lg' %>
<h1>Suas Turmas</h1>

<%= form_for(:current_search, url: search_disciplines_path) do |f|%>

  <div class="search-elements">
    <%= f.text_field :search, placeholder: "Buscar por disciplinas", id: 'input-search-field', class: 'search-input', data: {autocomplete_source: discipline_of_department(user_department_id).order(:name).map(&:name)} %> 
  </div>
  <div class="search-elements">
    <%= button_tag type: 'submit', class: "icon-search-submit" do %>
      <i class="fa fa-search fa-lg"></i>
    <% end %>
  </div>
<% end %>

<% if @my_school_rooms.count == 0 %>
  <h3>Não há turmas cadastradas no momento.</h3>
<% else %>
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Disciplina</th>
      <th>Cursos</th>
      <th>Capacidade</th>
      <th style="text-align:center">Alterar</th>
      <th style="text-align:center">Visualizar</th>
      <th style="text-align:center">Excluir</th>
    </tr>
    <% @my_school_rooms.each do |school_room| %>
      <tr>
        <td><%= school_room.name %></td>
        <td><%= school_room.discipline.name %></td>
        <td>
          <% school_room.course.each do |course| %>
            <%= course.name %> <br>
          <% end %>
        <td><%= school_room.capacity %></td>
        </td>
        <td style="text-align:center"><%= link_to image_tag("icon_edit.png"), school_rooms_edit_path(school_room.id) %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_view.png", id: 'icon_visualizar'+school_room.name), school_rooms_show_path(school_room.id) %></td>
        <td style="text-align:center">
					<%= link_to image_tag("icon_trash.png"), delete_path(school_room.id), method: "delete", data: {confirm: "Esta ação não poderá mais ser desfeita. Tem certeza que deseja continuar?"} %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
