<h1>Pesquisa de Turmas</h1>

<%= form_for(:current_search, url: search_disciplines_path) do |f|%>

  <div class="search-elements">
    <%= f.text_field :search, placeholder: "Buscar por disciplinas", id: 'input-search-field', class: 'search-input', data: {autocomplete_source: @disciplines} %>
  </div>
  <div class="search-elements">
    <%= button_tag type: 'submit', class: "icon-search-submit", id: "searchButton" do %>
      <i class="fa fa-search fa-lg"></i>
    <% end %>
  </div>
<% end %>

<% if @disciplines.present? %>

	<i>Exibindo resultados para </i>
	<strong><%= @search_attribute %></strong>
	<table class="table table-hover">
    <tr>
      <th>Disciplina</th>
			<th>Turma</th>
      <th>Cursos</th>
      <th>Nº de Vagas</th>
      <th style="text-align:center">Alocar</th>
      <th style="text-align:center">Solicitar Alocação</th>
      <th style="text-align:center">Alterar</th>
      <th style="text-align:center">Excluir</th>
    </tr>
    <% @school_rooms.each do |school_room| %>
      <tr>
				<td><%= school_room.discipline.name %></td>
        <td><%= school_room.name %></td>
        <td>
          <% school_room.courses.each do |course| %>
            <%= course.name %> <br>
          <% end %>
        </td>
        <td><%= school_room.vacancies %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_alloc.png"), allocations_new_path(school_room.id) %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_request_alloc.png"), allocation_period_path(school_room.id) %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_edit.png"), school_rooms_edit_path(school_room.id) %></td>
				<td style="text-align:center"><%= link_to image_tag("icon_trash.png"), destroy_school_room_path(school_room.id), data: {confirm: "Esta ação não poderá mais ser desfeita. Tem certeza que deseja continuar?"} %></td>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
