<h1>Solicitar Alocação</h1>
<p class="subtitle">Período de Alocação</p>

<%= render partial: "school_rooms/show", locals: {school_room: @school_room} %>

<%= form_for :solicitation, url: save_allocation_period_path do |f| %>
  <%= f.hidden_field :school_room_id, value: params[:school_room_id], readonly: true %>
  <%= f.label :departments, 'Departamento:' %>
  <%= f.select :departments, @departments.collect {|d| [d.name, d.id] }, class: 'form-control' %>

  <%= f.label :justify, 'Justificativa:' %>
  <%= f.text_area :justify, class: 'form-control' %>

  <table class="hours_table table">

  </table>

  <br>
  <%= f.submit "Enviar", class: 'pull-right btn btn-default btn-success' %>

<% end -%>

<script type="text/javascript">
  $(document).ready(function(){
    table = "<tr>";
    table += "<th></th>";
    table += "<th>Segunda</th>";
    table += "<th>Terça</th>";
    table += "<th>Quarta</th>";
    table += "<th>Quinta</th>";
    table += "<th>Sexta</th>";
    table += "<th>Sábado</th>";
    table += "</tr>";
    week = ["segunda", "terca","quarta","quinta","sexta", "sabado"]
    
    period = <%= @shift %>;
    start = (period == 1) ? 6 : 18
    final = (period == 1) ? 18 : 24
    for (var row = start; row < final; row++) {
      table +="<tr>";
      table += "<td>" + row + ":00</td>";
      for (var col = 0; col < 6; col++) {
        table += "<td><input type='checkbox' name='" + week[col] + "[" + row + "]' value='1' /></td>";
      }
      table += "</tr>";
    }
    $(".hours_table").html(table);
  });
</script>
<style type="text/css">
  td, th{text-align: center;}
</style>