<h1>Solicitacoes Pendentes</h1>

<% if @solicitations.nil? %>
  <h3>Não há nenhum usuário registrado no momento.</h3>
<% else %>
  <table class="table">
    <tr>
      <th>Data</th>
      <th>Turma</th>
      <th>Disciplina</th>
      <th>Departmento</th>
      <th>Sala Solicitada</th>
      <th>Autor</th>
      <th style="text-align:center">Visualizar</th>

    </tr>
    <% @solicitations.each do |solicitation| %>
      <% solicitation.room_solicitation.where(status: 0).each do |room_solicitation| %>
        
        <tr>
          <td><%= solicitation.request_date%></td>
          <td><%= solicitation.school_room.name%></td>
          <td><%= solicitation.school_room.discipline.name %></td>
          <td><%= solicitation.school_room.discipline.department.name %></td>
          <td><%= room_solicitation.room.nil? ? '---' : room_solicitation.room.name %></td>
          <td><%= solicitation.requester.name %></td>
          <% if room_solicitation.room.nil? %>
            <td style="text-align:center"><%= link_to image_tag("icon_view.png"), solicitations_show_path(id: solicitation.id) %></td>
          <% else %>
          <td style="text-align:center"><%= link_to image_tag("icon_view.png"), solicitations_show_path(id: solicitation.id, room: room_solicitation.room.id) %></td>

          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
