<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>SIGS</title>
    <%= favicon_link_tag %>
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Sistema de Alocação de Salas Inteligente da UnB.">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <main class="col-sm-9" style="background-color:blue">
        <%= yield %>
      </main>

    <% else %>
      <main class="container container-fluid" id="signIn">
        <div class="login">
          <div><figure><%= image_tag("sigs_logo") %></figure></div>
          <div>
            <%= yield %>
          </div>
          <div><figure><a href="http://www.unb.br"><%= image_tag("rodape_unb") %></a></figure></div>
        </div><!-- ./login -->
        <div><h1>Sistema Inteligente de Gestão de Salas</h1></div>
      </main>
    <% end %>

  </body>
</html>
