<h1>Alocar Turma</h1>

<%= render partial: "school_rooms/show", locals: {school_room: @school_room} %>

<%= form_tag allocations_create_path do %>

  <% days = ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"] %>
  <select id="select-room">
    <%= options_from_collection_for_select(@coordinator_rooms, :id, :name) %>
  </select>
  <table class="table table-hover">
    <tr>
      <th>Horários</th>
      <% days.each do |day| %>
        <td>
          <strong><%= day %></strong>
        </td>
      <% end %>
    </tr>
    <tr>
      <td></td>
      <% days.each do |day| %>
        <td>
          <select id="select-<%=day%>" class="autofill-field">
            <%= options_from_collection_for_select(@coordinator_rooms, :id, :name) %>
          </select>
        </td>
      <% end %>
    </tr>
    <% allocation_index = 0 %>
    <% (8..22).each do |hour| %>
      <tr>
        <th><%= hour %>:00</th>

        <% days.each do |day| %>
            <% school_room_is_alloc = get_school_room_allocation(@school_room_allocations, hour, day) %>
            <% if school_room_is_alloc.nil? %>
            <td>
              <%= fields_for 'allocations[]', @allocations[allocation_index] do |a| %>
                <%= a.check_box :active %>
                <%= a.hidden_field :room_id, value: 1 %>
                <%= a.hidden_field :school_room_id, value: @school_room.id %>
                <%= a.hidden_field :day, value: day %>
                <%= a.hidden_field :start_time, value: hour %>
                <%= a.hidden_field :final_time, value: (hour+1) %>
              <% end %>
            </td>
            <% else %>
              <td class="school-room-allocated">
                <%= get_room_name_by_allocation(school_room_is_alloc) %>
              </td>
            <% end %>
        <% end %>
        <% allocation_index += 1 %>
    <% end %>
  </table>
  <%= submit_tag "Salvar", class: 'pull-right btn btn-default btn-success' %>
<% end %>

<scrip>

</script>
