<h1>Relatório por Sala</h1>

<%= form_for :reports_by_room, url: generate_by_room_path do |f| %>
	<%=f.label :departments, 'Departamento:' %>
	<%=f.select :departments, @departments.collect {|d| [d.name, d.id] }, class: 'form-control' %>

	<%=f.check_box :all_rooms, style: 'text-align: left; width: auto' %>
	<%=f.label :all_rooms, 'Todas as salas', style: 'text-align: left; width: auto' %>
	<br>
	<br>
	<%=f.label :filter, 'Filtrar salas pelo código:' %>
	<span style="color: red;"></span>
	<%=f.text_field :filter, class: 'form-control', placeholder: 'Digite o código da sala' %>

	<%=f.label :room_code, 'Código da sala:' %>
	<span style="color: red;"></span>
	<%=f.select :room_code, @rooms.collect {|d| [d.name, d.id] }, class: 'form-control' %>

	<%=f.label :initial_week, 'Primeira semana:' %>
	<%=f.select :initial_week, @weeks, class: 'form-control' %>
	<%=f.label :last_week, 'Última semana:' %>
	<%=f.select :last_week, @weeks, class: 'form-control' %>

  <%= f.submit "Gerar", class: 'pull-right btn btn-default btn-success' %>

<% end %>

<script type="text/javascript">

  $('input:checkbox').click(function (){
    $("#reports_filter").prop('disabled', $(this).prop('checked'));
    $("#reports_room_code").prop('disabled', $(this).prop('checked'));
    if($(this).prop('checked')){
      $("span").html("Campo desativado");
      
    }else {
      $("span").html("");
    }
  });

  $('#reports_departments').change(function(){	
  	ajax('json_of_rooms_by_department?department_code=' + $(this).val());
  });

  $('#reports_filter').keyup(function(){
  	ajax('json_of_rooms_with_parts_of_name?department_code=' + $('#reports_departments').val() + "&part_name=" + $(this).val());
  });

function ajax(url){
	$.getJSON(url,{
  		format: "json"
  	}).done(function(data){
  		$('#reports_room_code').empty();
  		$.each(data, function(i,item){
  			var option = "<option value='"+item.id+"'>"+item.name+"</option>";
  			$('#reports_room_code').append(option);
  		})
  });
}
</script>