<div class="singUp">

  <div class="flexContainer">
    <figure class="logo"><%= link_to image_tag("sigs_logo.png"), root_path %></figure>
    <div>
      <h1>Novo Usuário</h1>
    </div>
  </div>
  <!-- <section id="section-form"> -->

  <ul id="erro-message">
    <% @user.errors.messages.values.each do |msg| %>
      <% msg.each do |m| %>
        <li><%= m %></li>
      <%end %>
    <% end %>
  </ul>

  <div id="form-new-user">

    <%= form_for @user, url: user_create_path,  :html => {:role => 'form'} do |f| %>
      <%= f.hidden_field :active, :value => '0' %>

      <div class="row">

        <div class="col-md-6">
          <%= f.label :name, "Nome Completo " %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email, "E-mail " %>
          <%= f.text_field :email, class: 'form-control', placeholder: 'exemplo@unb.br' %>

          <%= f.label :cpf, "CPF " %>
          <%= f.text_field :cpf, class: 'form-control'%>

          <fieldset id="type">
            <div class="radioButton">
              <input type="radio" name="type" value="administrative_assistant" id="adm_as" checked>
              <label>Assistente Administrativo</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="type" value="deg" id="deg_user">
              <label>DEG</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="type" value="coordinator" id="coord">
              <label>Coordenador de curso</label>
            </div>
          </fieldset>
        </div>

        <div class="col-md-6">
          <%= f.label :registration, "Registro UnB: " %>
          <%= f.text_field :registration, class: 'form-control' %>

          <%= f.label :password, "Senha " %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Mínimo 6 caracteres' %>

          <%= f.label :password, "Confirmar senha: " %>
          <%= f.password_field :password_confirmation, class: 'form-control'%>

          <div id="dropdown-group">
            <div id="dropdown-coordinator">
              <%= f.fields_for :coordinator do |ff| %>
                <p class="dropText">Curso</p>
                <%=ff.collection_select(:course_id,Course.all,:id,:name, include_blank: true)%>
              <% end %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Enviar", class: 'pull-right btn btn-default btn-success' %>
          </div>
        </div>
      </div> <!-- ./row -->
    <% end %>

  </div><!--  #/form-new-user-->

  <div>
    <figure><a href="http://www.unb.br"><%= image_tag("rodape_unb.png") %></a></figure>
  </div>

</div><!-- ./singUp -->
